# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\sheka\Desktop\ris\RIS_4_Course_1-master\lab_1_by_me\full-stack-with-react-and-spring-boot\restful-web-services\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
